*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    --byzantium: hsla(306, 45%, 30%, 1);
    --sky-magenta: hsla(322, 39%, 64%, 1);
    --light-coral: hsla(356, 54%, 70%, 1);
    --plum: hsla(316, 37%, 42%, 1);
    --russian-violet: hsla(278, 45%, 24%, 1);
    --main-color: #0f748f;
    --secondary-color: #1f2021;
    --third-color: #00c7fc;
    --gray-text-color: #a8a8a8;

    --sub-section-padding: clamp(10px, 10vw, 4rem);
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

.container {
    padding: 0 1.5rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
        padding: 0;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* global roles */
.svg {
    width: 0;
    height: 0;
    position: absolute;
}

/* Components */

.section-heading {
    text-align: center;
    margin-bottom: 10rem;
    padding-left: 15px;
    padding-right: 15px;
}

.section-heading h2 {
    font-size: 3rem;
    text-transform: uppercase;
}

.section-heading .cercle {
    margin: 2.5rem auto;
    width: 100px;
    --dot-size: 12px;
    position: relative;
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: var(--dot-size);
    border: 1px solid #000;
    background-color: white;
}

.section-heading .cercle::before,
.section-heading .cercle::after {
    position: absolute;
    content: '';
    width: calc((100px - var(--dot-size)) / 2);
    height: 1px;
    background-color: #000;
    top: 50%
}

.section-heading .cercle::before {
    left: 100%;
}

.section-heading .cercle::after {
    right: 100%;
}


.section-heading p {
    max-width: 410px;
    font-size: 13px;
    margin: 0 auto;
    color: var(--gray-text-color);
    font-weight: 300;
    line-height: 1.6;
}

.dots {
    --opt-size: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;

}

.dots .option {
    width: var(--opt-size);
    height: var(--opt-size);
    border-radius: 50%;
    border: 1px solid white;
    transition: background-color .3s ease-in-out;
}

.dots .option input {
    appearance: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0;
    padding: calc(var(--opt-size) / 2);
}

.dots .option:has(> input:checked) {
    background-color: var(--third-color);
}

/* Components End */


/* Header */
.page-heading {
    --height: 600px;
    --header-height: 95px;
    min-height: var(--height);
    /* background-image: url(../images/happiness_3840x2160.jpg);
    background-position: center center;
    background-size: cover; */
    background-color: var(--secondary-color);
    position: relative;
}

/* 
.page-heading::after {
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    pointer-events: none;
    filter: blur(100px);
} */

.page-heading header {
    /* background-color: var(--secondary-color); */
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #626364;
    position: relative;
}

.page-heading header .logo {
    flex-basis: 100px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.page-heading header .logo img {
    width: 100%;
}


/* - Navbar - */

.page-heading nav {
    --button-sizes: 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.page-heading nav .search .button {
    width: var(--button-sizes);
    height: var(--button-sizes);

    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 1em; */
}

.page-heading nav .search {
    padding-left: .5em;
    margin-left: 1em;
    border-left: 1px solid #626364;
}

.page-heading nav .search .button i {
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

.page-heading nav .nav-button {
    position: relative;
    width: var(--button-sizes, 25px);
    height: var(--button-sizes, 25px);
}

.page-heading nav .nav-button .cbutton {
    appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
}

.page-heading nav .nav-button .nav-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.page-heading nav .nav-button .nav-icon>span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: width .2s ease-in-out;
}

.page-heading nav .nav-button .nav-icon>span:nth-of-type(2) {
    width: 70%;
}

.page-heading nav .nav-button:has(> .cbutton:checked) .nav-icon span:nth-of-type(2) {
    width: 100%;
}

/* -- Navbar Elements */

.page-heading nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: absolute;
    width: 100%;
    max-height: 0;
    left: 0;
    top: 95px;
    background-color: var(--secondary-color);
    overflow: hidden;
    transition: max-height .4s ease-in-out;
    z-index: 10;
}

.page-heading nav ul li {
    display: block;
    width: 100%;
    text-align: center;
}

.page-heading nav ul li a {
    padding: 1em 0;
    text-decoration: none;
    color: white;
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.page-heading nav ul li a:hover {
    background-color: var(--third-color);
    color: var(--secondary-color);
    font-weight: 500;
}

.page-heading nav:has(> .nav-button .cbutton:checked) ul {
    max-height: calc(var(--height) - var(--header-height));
}


@media (min-width: 768px) {
    .page-heading nav {
        height: 100%;
    }


    .page-heading nav .nav-button {
        display: none;
    }

    /* -- Navbar Elements */

    .page-heading nav ul {
        display: flex;
        flex-direction: row;
        position: static;
        max-height: calc(var(--height) - var(--header-height));
        height: 100%;
        background-color: transparent;
    }

    .page-heading nav ul li {
        font-size: 1.3rem;
        padding: 0;
        height: 100%;
    }

    .page-heading nav ul li {
        margin-right: 2.5em;
    }

    .page-heading nav ul li a {
        text-decoration: none;
        color: white;
        height: 100%;
        display: flex;
        align-items: center;
        transition: border .1s, color 0.2s ease-in-out;
    }


    .page-heading nav ul li a:hover {
        border-bottom: 2px solid var(--third-color);
        color: var(--third-color);
        background-color: transparent;
    }

}


/* - Heading Content - */
.page-heading .content {
    min-height: calc(var(--height) - var(--header-height));
    background-image: url(../images/happiness_3840x2160.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.page-heading .content::after {
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    pointer-events: none;
    filter: blur(100px);
}

.page-heading .content .arrow {
    position: absolute;
    top: 50%;
    --margin: 20px;
    z-index: 8;
}

.page-heading .content .arrow i {
    font-size: 1.5rem;
    color: white;
    opacity: .5;
}

.page-heading .content .arrow.left {
    left: var(--margin);
}

.page-heading .content .arrow.right {
    right: var(--margin);
}

.page-heading .content .slider {
    min-height: inherit;
    position: relative;
    z-index: 5;
}

/* .page-heading .content .slider .slide1 {} */

.page-heading .content .slider .slide1 .info {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    background-color: var(--main-color);
    color: white;
    padding: 48px 20px;
    text-align: center;
}

.page-heading .content .slider .slide1 .info :is(h1, p) {
    font-weight: 300;
}

.page-heading .content .slider .slide1 .info h1 {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: .8em;
}

.page-heading .content .slider .slide1 .info p {
    font-size: 1.1rem;
    line-height: 2;
}

@media (min-width: 768px) {
    .page-heading .content .slider .slide1 .info {
        width: 75%;
        padding: 48px 20px 48px 20%;
        text-align: left;
    }

    .page-heading .content .slider .slide1 .info h1 {
        font-size: 3rem;
    }

    .page-heading .content .slider .slide1 .info p {
        font-size: 1.3rem;
    }

}

@media (min-width: 1200px) {
    .page-heading .content .slider .slide1 .info {
        width: 55%;
    }
}

.page-heading .content .dots {
    position: absolute;
    width: 100%;
    bottom: 10px;
    z-index: 8;
}

/* .page-heading .content .dots .option {
    width: var(--opt-size);
    height: var(--opt-size);
    border-radius: 50%;
    border: 1px solid white;
    transition: background-color .3s ease-in-out;
}

.page-heading .content .dots .option input {
    appearance: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0;
    padding: calc(var(--opt-size) / 2);
}

.page-heading .content .option:has(> input:checked) {
    background-color: var(--third-color);
} */

/* Services */

.services {
    padding: 10rem 0;
}

.services .grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 7rem;
    place-items: center;
    text-align: center;
}

@media (min-width: 767px) {
    .services .grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
        text-align: left;
    }
}

.services .grid .svc {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    --icon-size: 60px;
}

.services .svc .icon {
    flex-basis: var(--icon-size);
    font-size: 3rem;
    color: var(--third-color);
}

.services .svc .text {
    flex-basis: calc(100% - var(--icon-size));
}

.services .svc .text h3 {
    font-size: 1.5rem;
    color: var(--third-color);
    margin-bottom: 1.5em;
}

.services .svc .text p {
    font-size: 1.3rem;
    color: var(--gray-text-color);
    line-height: 1.6;
}

@media (min-width: 767px) {
    .services .grid .svc {
        flex-direction: row;
        --icon-size: 70px;
    }


    .services .svc .icon {
        font-size: 2.5rem;
    }

    .services .svc .text h3 {
        font-size: 2rem;
    }

}

.phone-advertise {
    margin-top: 10rem;
    padding: 1rem 1rem 0;
    background-color: var(--secondary-color);
    position: relative;
}

@media (min-width: 400px) {
    .phone-advertise {
        padding: 8rem 0 0;
    }
}

@media (min-width: 992px) {
    .phone-advertise {
        display: flex;
        flex-direction: row-reverse;
        overflow: hidden;
    }
}

.phone-advertise .info-background {
    background-color: var(--main-color);
}

@media (min-width: 992px) {
    .phone-advertise .info-background {
        width: 45%;
        order: 2;
        margin-bottom: 8rem;
    }
}

.phone-advertise .container {
    padding: 0;
}


.phone-advertise .info {
    color: white;
    padding: .4em;
}

@media (min-width: 279px) {
    .phone-advertise .info {
        padding: 1em;
    }
}

@media (min-width: 992px) {
    /* .phone-advertise .info {
        width: 50%;
        order: 2;
        margin-bottom: 8rem;
    } */
}

.phone-advertise .info h3 {

    font-size: 1.2rem;
    margin-bottom: 1em;
}

.phone-advertise .info ul {
    font-size: 1.1rem;
}

.phone-advertise .info ul li:not(:last-of-type) {
    margin-bottom: 1em;
}

.phone-advertise .info ul li .icon {
    margin-right: 1.1em;
}

@media (min-width: 400px) {
    .phone-advertise .info {
        padding: 3em;
    }

    .phone-advertise .info h3 {
        font-size: 2rem;
        margin-bottom: 3.2em;
    }

    .phone-advertise .info ul {
        font-size: 1.3rem;
    }

    .phone-advertise .info ul li:not(:last-of-type) {
        margin-bottom: 1.4em;
    }

    .phone-advertise .info ul li .icon {
        margin-right: 1.9em;
    }
}

.phone-advertise .phones {
    --phones-size: 70vw;
    width: var(--phones-size);
    height: calc(var(--phones-size) + (var(--phones-size) * (20 / 100)));
    /* background-color: red; */
    overflow: hidden;
    margin: 2rem auto;
}

@media (min-width: 767px) {
    .phone-advertise .phones {
        --phones-size: 50vw;
    }
}

@media (min-width: 992px) {
    .phone-advertise .phones {
        --phones-size: 297px;
        position: absolute;
        bottom: -6%;
        right: 50%;
    }
}

.phone-advertise .phones .phones-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Black Phone */
.phone-advertise .phones .phones-container .black-phone {
    position: absolute;
    z-index: 1;
    width: 70%;
    bottom: -20%;

}


.phone-advertise .phones .phones-container .black-phone .imgs {
    width: 100%;
    height: 100%;
    position: relative;
}

.phone-advertise .phones .phones-container .black-phone .imgs .phone-img img {
    width: 100%;
}

.phone-advertise .phones .phones-container .black-phone .imgs .content-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-mask-image: url(../images/BlackiPhoneMask.svg);
    mask-image: url(../images/BlackiPhoneMask.svg);
    -webkit-mask-size: 88.8% 117%;
    mask-size: 88.8% 117%;
    -webkit-mask-position: 47% 16%;
    mask-position: 47% 16%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.phone-advertise .phones .phones-container .black-phone .imgs .content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease-in-out;
}

.phone-advertise .phones .phones-container .black-phone .imgs .content-img img:hover {
    transform: scale(1.1) rotate(3deg);
}

/* White Phone */
.phone-advertise .phones .phones-container .white-phone {
    position: absolute;
    width: 58%;
    left: 42%;
    bottom: -15%;
}

.phone-advertise .phones .phones-container .white-phone .imgs {
    width: 100%;
    height: 100%;
    position: relative;
}


.phone-advertise .phones .phones-container .white-phone .imgs .phone-img img {
    width: 100%;
}


.phone-advertise .phones .phones-container .white-phone .imgs .content-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    -webkit-mask-image: url(../images/WhiteiPhoneMask.svg);
    mask-image: url(../images/WhiteiPhoneMask.svg);

    -webkit-mask-position: 49% 90%;
    mask-position: 49% 90%;

    -webkit-mask-size: 87%;
    mask-size: 87%;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.phone-advertise .phones .phones-container .white-phone .imgs .content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease-in-out;
}

.phone-advertise .phones .phones-container .white-phone .imgs .content-img img:hover {
    transform: scale(1.2) translateY(-5px);
}

/* PORTFOLIO */
.portfolio {
    padding-bottom: 10rem;
}

.portfolio img {
    width: 100%;
    height: 100%;
}


.portfolio .menu {
    max-width: 480px;
    margin: 0 auto clamp(5px, 5vw, 4rem) auto;
}


.portfolio .menu ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: .3em;
}

.portfolio .menu ul li {
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
}

.portfolio .menu ul li span {
    display: block;
    padding: clamp(3px, 3vw, 1em) clamp(5px, 5vw, 2em);
}

.portfolio .menu ul li:hover {
    font-weight: 600;
}

.portfolio .menu ul li input {
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.portfolio .menu ul li span:has(+ input:checked) {
    background-color: var(--third-color);
    color: white;
}


.portfolio .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.portfolio .images .image-container {
    --image-n: 1;
    width: calc(100% / var(--image-n));
    /* max-width: 480px; */
    aspect-ratio: 2 / 1.5;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    /* margin-bottom: clamp(10px, 3vw, 3rem); */
}

@media (min-width: 480px) {
    .portfolio .images .image-container {
        --image-n: 2
    }
}

@media (min-width: 992px) {
    .portfolio .images .image-container {
        --image-n: 3;
    }
}

@media (min-width: 1200px) {
    .portfolio .images .image-container {
        --image-n: 4;
    }
}

.portfolio .images .image-container .text {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    padding: clamp(5px, 3vw, 1em);
    text-transform: capitalize;
    transform: translateY(100%);
    transition: transform .3s ease-in-out;
}

.portfolio .images .image-container .icon {
    position: absolute;
    content: '';
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .3s ease-in-out;
    font-size: 6rem;
    color: white;
}

.portfolio .images .image-container:hover .icon {
    background-color: rgba(0, 0, 0, .1);
}

.portfolio .images .image-container .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
    transform: scale(0);
    transition: transform .2s ease-in-out;
}

.portfolio .images .image-container .icon span {
    position: absolute;
    content: '';
    height: 1.2em;
    width: 1.2em;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: #00c5fcb2;
    border-radius: 50%;
    transform: scale(0);
    transition: transform .3s .1s ease-in-out;
}

.portfolio .images .image-container:hover .icon i {
    transform: scale(1);
}

.portfolio .images .image-container:hover .icon span {
    transform: scale(1);
}

.portfolio .images .image-container:hover .text {
    /* animation: portfolio-show-image-info .3s ease-in-out 1;
    animation-fill-mode: both; */
    transform: translateY(0);
}

@keyframes portfolio-show-image-info {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.portfolio .images .image-container img {
    object-fit: cover;
    object-position: center center;
}

.portfolio .images .image-container .text h4 {
    margin-bottom: .3em;
}

.portfolio .images .image-container .text span {
    font-size: 1.3rem;
    color: var(--third-color);
}

.portfolio .image-view button {
    background-color: var(--third-color);
    font-size: 1.3rem;
    width: fit-content;
    display: block;
    margin: clamp(5px, 5vw, 4rem) auto 0 auto;
    padding: .5em 2em;

    color: white;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.video-view {
    margin-top: clamp(5px, 5vw, 4rem);
    padding: clamp(20px, 10vw, 20rem) 0;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
}

.video-view .video-mask {
    background-color: var(--main-color);
    padding: clamp(10px, 5vw, 8rem) 0;
}

/* .video-view .info {} */

.video-view .info h4 {
    margin-bottom: clamp(10px, 5vw, 4rem);
    text-transform: uppercase;
    font-size: clamp(1.6rem, 5vw + .1rem, 2.5rem);
}

.video-view .info .video-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.video-view .info p {
    margin: clamp(10px, 5vw, 4rem) 0;
}

.video-view .info button {
    background-color: var(--secondary-color);
    border: none;
    color: white;
    font-size: clamp(1.3rem, 2vw + .1rem, 1.6rem);
    padding: .5em 1em;
    cursor: pointer;
}

/* About Us */
.about-us {
    padding-bottom: 10rem;
}

.about-us .screens {
    aspect-ratio: 2.8 / 1;
    position: relative;
    overflow: hidden;
}

@media (min-width: 624px) {
    .about-us .screens {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

.about-us img {
    width: 100%;
}

.about-us .screens .screen {
    position: absolute;
    overflow: hidden;
}

.about-us .screens .screen .content {
    position: absolute;
}

.about-us .screens .screen .content img {
    height: 100%;
    object-fit: cover;
}

.about-us .screens .monitor {
    width: 75%;
    left: 14%;
}

.about-us .monitor .content {
    top: 4.8%;
    left: 2.8%;
    width: 94.5%;
    height: 65%;
}

.about-us .screens .laptop {
    width: 50%;
    left: -5%;
    top: 30%
}

.about-us .laptop .content {
    top: 4.8%;
    left: 11.7%;
    width: 76.5%;
    height: 84.7%;
}

.about-us .screens .tablet {
    width: 20%;
    right: 0;
    top: 30%
}

.about-us .tablet .content {
    top: 9.8%;
    left: 6.2%;
    width: 87.6%;
    height: 80.3%;
}



/* -- about-us:statics -- */
.statics-container {
    background-color: var(--secondary-color);
    padding: var(--sub-section-padding) 0;
}

.statics-container .statics {
    background-color: var(--main-color);
    padding: var(--sub-section-padding) clamp(5px, 5vw, 4rem);
    color: white;
    text-align: center;
}


.statics-container .info {
    padding: clamp(5px, 10vw, 2rem);
}

@media (min-width: 512px) {
    .statics-container .statics {
        display: flex;
        flex-wrap: wrap;
    }

    .statics-container .statics .info {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .statics-container .statics .info {
        width: 25%;
    }
}

.statics-container .info>*:not(:last-child) {
    margin-bottom: clamp(5px, 8vw, 1.5rem);
}

.statics-container .info .icon {
    background-color: var(--secondary-color);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    padding: 1em;
    clip-path: url(#statics-icon-polygon);
    transition: color .2s ease-in-out, background-color .3s ease-in-out;
}

.statics-container .info:hover .icon {
    background-color: white;
    color: var(--secondary-color);
}

.statics-container .info p:first-of-type {
    font-size: clamp(20px, 10vw, 5rem);
    font-weight: bold;
}

.statics-container .info p:nth-of-type(2) {
    font-size: clamp(1.1rem, 5vw, 1.3rem);
    text-transform: capitalize;
}

.about-us .data .container {
    display: grid;
    --max-gap: 3rem;
    gap: clamp(15px, 10vw, var(--max-gap));
}

@media (min-width: 768px) {
    .about-us .data .container {
        --max-gap: 15rem;
        grid-template-columns: 1fr 1fr;
    }
}

.about-us .data header {
    text-align: center;
    padding-top: clamp(15px, 10vw, 10rem);
    padding-bottom: clamp(5px, 7vw, 7rem);
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;
}


.about-us .data header h3 {
    font-size: clamp(1.5rem, 8vw, 2rem);
    text-transform: uppercase;
    margin-bottom: clamp(5px, 5vw, 4rem);
}

.about-us .data header p {
    font-size: 1.3rem;
    color: #a8a8a8;
    line-height: 1.6;
}

.about-us .data .testimonials {
    margin: 0 auto;
}

.about-us .data .testimonials .testimonial-block {
    /* margin-bottom: ; */
    --image-size: clamp(60px, 5vw, 100px);
}



.about-us .data .testimonials .testimonial-block .image {
    width: var(--image-size);
    height: var(--image-size);
    border-radius: 50%;
    overflow: hidden;
    margin: clamp(5px, 5vw, 2rem) auto 10px auto;
}



.about-us .data .testimonials .testimonial-block .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.about-us .data .testimonials .testimonial-block .text {
    font-size: 1.3rem;
    max-width: 410px;
    position: relative;
}


.about-us .data .testimonials .testimonial-block .text p {
    line-height: 1.6;
    text-align: center;
    margin-bottom: 10px;
    margin-top: clamp(15px, 5vw, 2.5rem);
    color: var(--secondary-color);
}

.about-us .data .testimonials .testimonial-block .text span {
    display: block;
    text-align: right;
    color: #a8a8a8;
    margin-bottom: 10px;
    font-style: italic;
}

@media (min-width: 758px) {
    .about-us .data .testimonials .testimonial-block {
        display: flex;
        --image-size: 100px;
        margin-bottom: 3rem;
    }

    .about-us .data .testimonials .testimonial-block .image {
        margin: 0;
        margin-top: 3%;
        margin-right: 3rem;
        flex-shrink: 0;
    }

    .about-us .data .testimonials .testimonial-block .text p {
        text-align: left;
        margin-bottom: 40px;
    }

    .about-us .data .testimonials .testimonial-block .text hr {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
    }


    .about-us .data .testimonials .testimonial-block .text span {
        position: absolute;
        text-align: left;
        right: 0;
        bottom: 5px;
    }

    .about-us .data .testimonials footer {
        margin-top: 10px;
    }
}

.about-us .data .dots .option {
    border-color: var(--main-color)
}

.about-us .data .skills .skill {
    margin-bottom: 1.5em;
}

.about-us .data .skills .skill .skill-title {
    font-size: 1.3rem;
    margin-bottom: .8em;
    text-transform: uppercase;
    font-weight: 500;
}


.about-us .data .skills .skill .skill-bar {
    height: clamp(1.5rem, 5vw, 2.5rem);
    background-color: #e2e2e2;
    position: relative;
}

.about-us .data .skills .skill .skill-bar .bar {
    position: absolute;
    width: calc(attr(value) * 1%);
    height: 100%;
    left: 0;
    background-color: var(--third-color);
}

.about-us .data .skills .skill .skill-bar .num {
    position: absolute;
    transform: translateY(-150%) translateX(-50%);
    background-color: var(--secondary-color);
    color: white;
    font-size: clamp(1rem, 3vw, 1.3rem);
    padding: 5px 7px;
}

.about-us .data .skills .skill .skill-bar .num::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: .5em solid transparent;
    border-top-color: var(--secondary-color);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(100%);
    z-index: -1;
}

.about-us>footer {
    padding: clamp(15px, 8vw, 10rem) 0;
    margin-top: clamp(10px, 5vw, 10rem);
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
}

.about-us>footer q {
    font-size: clamp(1.5rem, 5vw + .1rem, 2.5rem);
    display: block;
    margin-bottom: .7em;
}

.about-us>footer span {
    font-size: 1.3rem;
}

/* Pricing Section */

.pricing {
    padding-bottom: 10rem;
    --sections-padding: clamp(30px, 6vw, 5rem);
}

.pricing .plans {
    display: grid;
    gap: 10rem;
}

@media (min-width: 500px) {
    .pricing .plans {
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }
}

@media (min-width: 1000px) {
    .pricing .plans {
        grid-template-columns: repeat(4, 1fr);
    }
}

.plans .plan {}

.plans .plan header {
    border-top: 1px solid var(--third-color);
    border-bottom: 1px solid var(--third-color);
    padding: 30px 0;
    text-align: center;
}

.plans .plan header h4 {
    margin-bottom: .8em;
    text-transform: uppercase;
}

.plans .plan header .plan__price {
    font-weight: 600;
}

.plans .plan header .plan__price>span:first-of-type {
    font-size: 2rem;
    vertical-align: top;
}

.plans .plan header .plan__price>span:nth-of-type(2) {
    font-size: 5.9rem;
}

.plans .plan header .plan__price>span:last-of-type {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.plans .plan header .plan__price>span:not(:last-of-type) {
    margin-right: 5px;
}

.plans .plan header .plan__price>span:last-of-type::before {
    content: '/ ';
}


.plans .plan .plan__body {
    text-align: center;
}

.plans .plan .plan__body li {
    padding: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.plans .plan .plan__body>li:not(:last-of-type) {
    border-bottom: 1px solid var(--third-color);

}

.plans .plan footer {
    padding: 30px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--third-color);
}

.plans .plan footer button {
    background-color: transparent;
    padding: .7em 2em;
    border: 1px solid var(--third-color);
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.plans .plan footer button:hover {
    background-color: var(--third-color);
}


.special-request {
    padding: var(--sections-padding) 0;
    text-align: center;
}

.special-request p {
    text-transform: capitalize;
    line-height: 1.3;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.special-request a {
    font-size: 1.3rem;
    text-decoration: none;
    padding: .7em 2em;
    display: inline-block;
    background-color: var(--third-color);
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}


.subscribe {
    background-color: var(--secondary-color);
    padding: var(--sections-padding) 0;
    text-align: center;
    --margin: 15px;
    color: white;

}

.subscribe .container {
    display: grid;
    justify-content: center;
}


.subscribe .mail-part {
    max-width: 500px;
}

@media (min-width: 992px) {
    .subscribe .container {
        grid-template-columns: 54.5% 45.5%;
        gap: 1rem;
    }

    .subscribe .mail-part {
        max-width: none;
    }

    .subscribe p {
        max-width: none;
    }
}

.subscribe .mail-part i {
    margin-bottom: var(--margin);
    font-size: 1.6rem;
    color: white;
}

.subscribe .mail-part input {
    margin-bottom: var(--margin);
    padding: 1em;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid white;
    font-size: 1rem;
    background-color: transparent;
    color: white;
}

.subscribe .mail-part input:focus {
    outline: none;
}

.subscribe .mail-part:focus-within {
    outline: 1px solid orange;
}

.subscribe .mail-part button {
    font-size: 1rem;
    ;
    text-transform: capitalize;
    background-color: var(--third-color);
    padding: .5em 1em;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.subscribe p {
    margin-top: var(--margin);
    font-size: 1.1rem;
    max-width: 500px;
}

@media (min-width: 500px) {
    .subscribe .mail-part {
        display: flex;
        border: 1px solid white;
    }

    .subscribe .mail-part input {
        padding: 0;
        margin: 0;
        border: none;
        padding-left: 10px;
    }

    .subscribe .mail-part button {
        padding: 1.7em;
        margin: 0;
        border: none;
    }

    .subscribe .mail-part i {
        padding-left: 10px;
        margin: 0;
        align-self: center;
    }
}

.contact-us {
    padding-bottom: 10rem;
}

.contact-us .content {
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 3vw, 1.5em);
}

@media (min-width: 992px) {
    .contact-us .content {
        flex-direction: row;
    }
}

.contact-us form {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    --text-padding: clamp(10px, 3vw, 1.5em) clamp(10px, 3vw, 1.5em);
    gap: clamp(10px, 3vw, 2.5em);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

}

@media (min-width: 992px) {
    .contact-us form {
        max-width: none;
    }
}

.contact-us form :first-child {
    font-size: 1.3rem;
    padding: var(--text-padding);
}

.contact-us form :nth-child(2) {
    padding: var(--text-padding);
}

.contact-us form :nth-child(3) {
    padding: var(--text-padding);
    resize: none;
    aspect-ratio: 2 / 1;
}

.contact-us form :last-child {
    padding: clamp(5px, 1.5vw, 2rem) clamp(15px, 4.5vw, 5rem);
    background-color: var(--third-color);
    border: 1px solid white;
    color: white;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
    text-transform: uppercase;
}

.contact-us .info {
    text-align: center;
    margin-top: 2rem;
}

@media (min-width: 992px) {
    .contact-us .info {
        text-align: left;
        margin-top: 0;
        flex-shrink: 0;
    }
}

.contact-us .info .block {
    margin-bottom: clamp(3rem, 5vw, 11.3rem);
}

@media (min-width: 992px) {
    .contact-us .info .block {
        margin-bottom: clamp(130px, 13vw, 133px);
    }
}

.contact-us .info .block h4 {
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.contact-us .info .block a {
    display: block;
    text-decoration: none;
    color: #a8a8a8;
    font-size: 1.3rem;
}

.contact-us .info .block span {
    display: block;
    color: #a8a8a8;
    font-size: 1.3rem;
}

body>footer {
    background-color: var(--secondary-color);
    text-align: center;
    color: white;
    font-size: clamp(1rem, 5vw + .3rem, 1.6rem);
}

body>footer img {
    margin: clamp(20px, 10vw, 12rem) 0 clamp(10px, 5vw, 6rem);
}

body>footer h4 {
    font-size: clamp(1.2rem, 6vw + .3rem, 2rem);
    text-transform: uppercase;
    width: fit-content;
    margin: 0 auto;
    position: relative;
    padding-bottom: clamp(7.5px, 3.75vw, 2rem);
}

body>footer h4::after {
    width: 140%;
    position: absolute;
    content: '';
    left: 0;
    top: 100%;
    height: 1px;
    background-color: white;
    transform: translateX(-15%);
}



body>footer .social-media {
    padding-top: clamp(7.5px, 3.75vw, 2rem);
    display: flex;
    justify-content: center;
    gap: 1em;
}

body>footer p {
    font-size: 0.9em;
    margin-top: clamp(20px, 10vw, 8rem);
    margin-bottom: 4rem;
    display: inline-block;
}

body>footer p span {
    color: var(--third-color);
    font-weight: bold;
}